/* html, body{
  padding: 0;
  margin: 0;
} */

html {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0)
}

body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,q,dl,dt,dd,ol,ul,li,fieldset,form,legend,caption,tbody,tfoot,thead,article,aside,dialog,figure,footer,header,hgroup,nav,section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font: inherit;
  vertical-align: baseline;
}

body{
  min-width: 1024px;
}

body .el-table th.gutter{
  display: table-cell!important;
}

.CursorPointer{
  cursor: pointer;
}
.MarginT_20{
  margin-top: 20px;
}

.TextAlignL{
  text-align: left;
}
.TextAlignR{
  text-align: right;
}
#addCnc .el-dialog__body, #addPerson .el-dialog__body, #appendProduction .el-dialog__body{
  padding-top: 0 !important;
}
/* #saerchNameForm .el-form-item{
  width: 95% !important;
}
#saerchNameForm .el-form-item__content{
  width: 80% !important;
} */
.time .el-input.is-disabled .el-input__inner{
  background-color: #fff;
  color: #000;
}
.disabledWhite .el-input.is-disabled .el-input__inner{
  background-color: #fff;
  color: #000;
}
.el-dialog__body_NoPadding .el-dialog__body{
  padding-bottom: 0;
}
.bgWhite{
  color: #fff;
  background: #fff !important;
  padding: 0 !important;
}
.bgGreen{
  color: #7fb80e;
  background: #7fb80e !important;
}
.bgOrange{
  color: #fcaf17;
  background: #fcaf17 !important;
}
.bgRed{
  color: #f05b72;
  background: #f05b72 !important;
}
.radioLabelNone .el-radio__label{
  display: none;
}
.bgRedTd{
  background: #F56C6C !important;
  color: #fff !important;
}
.hasModifyed{
  background: #187;
}
.hasModifyed .el-input__inner{
  background: #187 !important;
  border: 0 solid #DCDFE6 !important;
  color: #fff;
}
.el-table__header{
  display: block;
}
.el-table__fixed-body-wrapper{
  display: block;
}

#hoverNoLight tbody tr:hover>td { 
  background-color: inherit !important;
}
.salesReportTable .el-table--border td, .el-table--border th{
  border-right: 0px !important;
  text-align: center;
}
.salesReportTable .el-table__body, .el-table__footer, .el-table__header{
  background: #ddd;
}
/* .el-table__fixed-body-wrapper{
  top: 0px !important;
} */
/* .el-table .hasModifyed{
  background: #187;
  color: #187;
} */
/* .el-table tbody tr:hover{
  background-color: red;
} */
/* .el-table__fixed, .el-table__fixed-right{
  height: 200px !important;
} */
/* .TopLineBlock{
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  color: white;
  font-size: .4rem;
  background: #4A5F7A;
}
.TopLineBlock .TopLeft{
  width: 80%;
  float: left;
}
.TopLineBlock .TopLeft span{
  width: 50%;
  height: 100%;
  display: inline-block;
}
.TopLineBlock .RightAccount{
  width: 20%;
  float: left;
  text-align: right;
  font-size: .2rem;
}
.TopLineBlock .RightAccount span{
  display: inline-block;
  padding-right: .2rem;
} */